.navbar {
    a {
      text-decoration: none; // Loại bỏ gạch chân
      color: inherit; // Giữ nguyên màu chữ mặc định
      margin: 0 10px; // Cách đều 20px (10px mỗi bên)
     
      &.active {
        color: #ff0000; // Màu đỏ khi active
      }
    }
  
    .nav {
      display: flex; // Sử dụng flexbox để các liên kết xếp hàng ngang
      align-items: center; // Căn giữa theo trục dọc
     
    }
  }


  .header {
    display: flex; // Sử dụng Flexbox
    justify-content: center; // Căn giữa theo chiều ngang
    align-items: center; // Căn giữa theo chiều dọc
    width: 100%;
    height: 30px;
   
   .bg-body-tertiary {
    margin-top:30px;
   }
  }
  